.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(105, 105, 230);
    color: white;
    
}
.footer p{
    font-size: small;
    margin-right: 3%;
}
.footer h6{
    margin-left: 6%;
}